<div class="header">
  <div class="navbar">
      <ul>
          <li><a routerLink="rohini">Home</a></li>
          <li><a routerLink="research">Research</a></li>
          <li><a routerLink="talks">Talks & Interviews</a></li>
          <li><a routerLink="teaching">Teaching</a></li>
          <li><a routerLink="publication">Publications</a></li>
          <!-- <li><a routerLink="seminar">AI for Social Good</a></li> -->
      </ul>
  </div>
  <!-- <div class="searchbar">
    <ul>
      <li class="account">
        <span class="fa fa-user"></span>
      </li>
    </ul>
  </div>
  <span class="navbar-toggle" id="js-navbar-toggle"><i class="fas fa-bars"></i></span> -->
</div>