.spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2em;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-element-info {
    color: #005bbb;
    padding-left: 1em
}

.class-table {
    font-family: inherit;
}

.add {
    color: #ffffff;
    background-color: #005bbb;
    margin-bottom: 1em;
}

.class-list-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.class-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

.class-element-info {
    flex-basis: 50%;
}

.class-element-description {
    flex-basis: 80%;
}

.class-detail-row {
    height: 0;
}

.class-element-row td {
    border-bottom-width: 0;    
    cursor: pointer;
    font: inherit;
    color: #005bbb;
}
  
tr.class-element-row:not(.class-expanded-row):hover {
    background: #f5f5f5;
}
  
tr.class-element-row:not(.class-expanded-row):active {
    background: #efefef;
}

.info-label {
    font-weight: bold;
}

.view {
    color: #ffffff;
    background-color: #005bbb;
}