<app-contact-wall></app-contact-wall>
<div class="container">
  <div class="content">
      <h2>Publications</h2>
      <hr>
      <div class="spinner"
        *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div class="publication-list-form">
        <mat-form-field>
          <mat-label>Year</mat-label>
          <mat-select (value)="selected" (selectionChange)="filterPublications($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let year of publicationYears" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="add" [routerLink]="['/publication-add']">
            <mat-icon aria-label="Add button" svgIcon="add"></mat-icon>
        </button>
      </div>
      <table mat-table [dataSource]=publicationDataSource class="publicationTable">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="publicationTableHeader"> Title </th>
          <td mat-cell *matCellDef="let publication" class="publicationTableColumn"> {{publication.title}} </td>
        </ng-container>
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef class="publicationTableHeader"> Author </th>
          <td mat-cell *matCellDef="let publication" class="publicationTableColumn"> {{publication.author}} </td>
        </ng-container>
        <ng-container matColumnDef="published_date">
          <th mat-header-cell *matHeaderCellDef class="publicationTableHeader"> Year </th>
          <td mat-cell *matCellDef="let publication" class="publicationTableColumn"> {{publication.published_date}} </td>
        </ng-container>
        <ng-container matColumnDef="published_at">
          <th mat-header-cell *matHeaderCellDef class="publicationTableHeader"> Published At </th>
          <td mat-cell *matCellDef="let publication" class="publicationTableColumn"> {{publication.published_at}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [routerLink]="['/publication-detail/', row.id]" ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="publicationPaginator"></mat-paginator>
  </div>
</div>
