.back {
    margin-bottom: 1em;
    color: #005bbb;
}

.teaching-title {
    color: #005bbb;
}

.edit {
    color: #ffffff;
    background-color: #005bbb;
}

.delete {
    color: #ffffff;
    background-color: #f44336;
}

.mat-card-actions {
    padding-left: 1.5em;
}