<div class="contact-wall">
  <div class="banner">
      <div class="profile-picture">
          <img class="img mat-elevation-z8" src="assets/img/profile-pic.jpg">
      </div>
      <div class="nameDesignation">
        <h1>Rohini K. Srihari</h1>
        <h2>PROFESSOR OF COMPUTER SCIENCE</h2>
      </div>
      <div class="contact">
          <h2>CONTACT INFORMATION</h2>
          <p>338D Davis Hall<br/>Buffalo, NY 14260-2500</p>
          <p><i class="fas fa-envelope fa-fw"></i>rohini@buffalo.edu</p>
          <p><i class="fas fa-phone fa-flip-horizontal fa-fw"></i>(716) 645-6164 ext. 102</p>
      </div>
  </div>
</div>
